In [1]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt
import cufflinks as cf
import yfinance as yf

In [2]:
start = "2010-01-01"
end = "2020-12-31"

In [3]:
symbol = "MSFT"

In [4]:
df = yf.download(tickers = symbol, start = start, end = end)
df

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,30.620001,31.100000,30.590000,30.950001,23.474924,38409100
2010-01-05,30.850000,31.100000,30.639999,30.959999,23.482504,49749600
2010-01-06,30.879999,31.080000,30.520000,30.770000,23.338396,58182400
2010-01-07,30.629999,30.700001,30.190001,30.450001,23.095684,50559700
2010-01-08,30.280001,30.879999,30.240000,30.660000,23.254965,51197400
...,...,...,...,...,...,...
2020-12-23,223.110001,223.559998,220.800003,221.020004,215.239517,18699600
2020-12-24,221.419998,223.610001,221.199997,222.750000,216.924286,10550600
2020-12-28,224.449997,226.029999,223.020004,224.960007,219.076477,17933500
2020-12-29,226.309998,227.179993,223.580002,224.149994,218.287674,17403200
2020-12-30,225.229996,225.630005,221.470001,221.679993,215.882248,20272300

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2768 entries, 2010-01-04 to 2020-12-30
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2768 non-null   float64
 1   High       2768 non-null   float64
 2   Low        2768 non-null   float64
 3   Close      2768 non-null   float64
 4   Adj Close  2768 non-null   float64
 5   Volume     2768 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 151.4 KB

In [8]:
symbol = ["MSFT", "AAPL"]

In [9]:
df = yf.download(tickers = symbol, start = start, end = end)
df

[*********************100%%**********************]  2 of 2 completed

             Adj Close                   Close                    High  \
                  AAPL        MSFT        AAPL        MSFT        AAPL
Date
2010-01-04    6.478998   23.474924    7.643214   30.950001    7.660714
2010-01-05    6.490201   23.482504    7.656429   30.959999    7.699643
2010-01-06    6.386965   23.338396    7.534643   30.770000    7.686786
2010-01-07    6.375157   23.095684    7.520714   30.450001    7.571429
2010-01-08    6.417541   23.254965    7.570714   30.660000    7.571429
...                ...         ...         ...         ...         ...
2020-12-23  128.687271  215.239517  130.960007  221.020004  132.429993
2020-12-24  129.679703  216.924286  131.970001  222.750000  133.460007
2020-12-28  134.317810  219.076477  136.690002  224.960007  137.339996
2020-12-29  132.529404  218.287674  134.869995  224.149994  138.789993
2020-12-30  131.399384  215.882248  133.720001  221.679993  135.990005

                               Low                    Open              \
                  MSFT        AAPL        MSFT        AAPL        MSFT
Date
2010-01-04   31.100000    7.585000   30.590000    7.622500   30.620001
2010-01-05   31.100000    7.616071   30.639999    7.664286   30.850000
2010-01-06   31.080000    7.526786   30.520000    7.656429   30.879999
2010-01-07   30.700001    7.466071   30.190001    7.562500   30.629999
2010-01-08   30.879999    7.466429   30.240000    7.510714   30.280001
...                ...         ...         ...         ...         ...
2020-12-23  223.559998  130.779999  220.800003  132.160004  223.110001
2020-12-24  223.610001  131.100006  221.199997  131.320007  221.419998
2020-12-28  226.029999  133.509995  223.020004  133.990005  224.449997
2020-12-29  227.179993  134.339996  223.580002  138.050003  226.309998
2020-12-30  225.630005  133.399994  221.470001  135.580002  225.229996

               Volume
                 AAPL      MSFT
Date
2010-01-04  493729600  38409100
2010-01-05  601904800  49749600
2010-01-06  552160000  58182400
2010-01-07  477131200  50559700
2010-01-08  447610800  51197400
...               ...       ...
2020-12-23   88223700  18699600
2020-12-24   54930100  10550600
2020-12-28  124486200  17933500
2020-12-29  121047300  17403200
2020-12-30   96452100  20272300

[2768 rows x 12 columns]

In [ ]:
# df.to_csv("stocks.csv")